.all-graph {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 20px;
}
.dashboard-status {
  display: flex;
}

.device-status {
  color: green;
}
.dashboard {
  color: white;
  font-size: 1.5rem;
}
.text{
  color: white;
  height: 0px;
}
