  .container {
	width: 28em;
	background-color: #000000;
	padding: 2em 2em;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 30%;
	left: 50%;
	border-radius: 0.8em;
	box-shadow: 0 45px 60px rgba(30, 22, 1, 0.3);
  }
  .inputfield {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding-top: 1em;
  }
  .input {
	height: 2em;
	width: 2em;
	border: 2px solid #dad9df;
	outline: none;
	text-align: center;
	font-size: 2em;
	border-radius: 0.3em;
	background-color: #ffffff;
	outline: none;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
  }
  #submit {
	background-color: #044ecf00;
	border: 1px solid white;
	outline: none;				
	font-size: 1em;
	padding: 0.2em 1em;
	color: #ffffff;
	margin: 1em auto 0 auto;
	cursor: pointer;
  }
  .show {
	display: block;
  }
  .hide {
	display: none;
  }
  .input:disabled {
	color: #000000;
  }
  .input:focus {
	border: 3px solid #22ff00;
  }
  